.game{
  position: relative;
  width: $col-cont * $sell-size;
  border: 3px solid #000;

  &__field{
    display: flex;
    flex-wrap: wrap;
  }

  &__cell{
    @include square($sell-size);

    box-sizing: border-box;
    border: 1px dashed #000;
  }

  &__player{
    position: absolute;
    left: $base-shift;
    top: $base-shift;

    @include circle($player-size);

    background-color: #000;
  

    @for $ind from 1 through $row-cont {
      &--row--#{$ind}{
        top: getShift($base-shift, $sell-size, $ind)
      }
    }


    @for $ind from 1 through $col-cont {
      &--col--#{$ind}{
        left:  getShift($base-shift, $sell-size, $ind)
      }
    }
  

    $colors:
    'red' #f00,
    'yellow' #ff0,
    'green' #080,
    'blue' #00f;

    @each $name, $color in $colors {
      &--color--#{$name}{
        background-color: $color;
      }
    }

  }

}
