@import './scss/utils/_variables.scss';
@import './scss/utils/_function.scss';
@import './scss/utils/_mixin.scss';
@import './scss/utils/_plaseholder.scss';


@import './scss/bloks/_title.scss';
@import './scss/bloks/_game.scss';






